.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.header {
  margin: 20px;
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
  gap: 5px;
}

.grid-item {
  background-color: #6121a6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background-color: #FF6347; /* Highlight selected grid item */
}

.input-container {
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 150px;
}
