.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.header {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.player-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.player-panel h3 {
  margin-bottom: 10px;
}

.player-tiles {
  display: grid;
  grid-template-columns: repeat(1, 40px);
  grid-template-rows: repeat(7, 40px);
  gap: 5px;
}

.tile {
  width: 30px;
  height: 30px;
  background-color: #f0e68c;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 16px;
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
  gap: 5px;
}

.grid-item {
  background-color: #6121a6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background-color: #FF6347; /* Highlight selected grid item */
}

.input-container {
  margin-top: 20px;
}

.bottom {
  margin-bottom: 30px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 110px;
}

